<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <!-- 可以定义一些变量 -->
    <Properties>
        <Property name="logFileName">logs/ball-log.log</Property>
        <Property name="errorFileName">logs/error.log</Property>
    </Properties>

    <Appenders>
        <!-- 系统输出  std_out, err_out -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%t] %C{1.} %L %X{sessionId}-%X{deviceid} - %m%n"/>
        </Console>
        <File name="ball-log" fileName="${logFileName}" append="true">
            <PatternLayout pattern="%d %p [%t] %C{1.} %L %X{sessionId}-%X{deviceid} - %m%n"/>
        </File>
        <File name="error" fileName="${errorFileName}" append="true">
            <PatternLayout pattern="%d %p [%t] %C{1.} %L %X{sessionId}-%X{deviceid} - %m%n"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ball-log"/>
            <AppenderRef ref="error"/>
        </Root>
    </Loggers>
</Configuration>